.well
  .page-header
    %h1
      Players

  .row-fluid
    .span12
      %table#players.table.table-striped.table-bordered.dataTable{:data => {:source => details_players_url(:format => 'json')}}
        %thead
          %tr
            %th Player Name
            %th Current Team
            %th Birth Year
            %th Batting Avg (2007-2012)
        %tbody
